version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  build-and-test:
    executor: python/default
    steps:
      - checkout
      - python/load-cache
      - python/install-deps
      - python/save-cache
      - run:
          command: python -m pytest
          name: Test
      - run:
          command: pycodestyle --ignore=W291,W293,W503 --exclude=*build,.ipynb* tests/common/test_stats.py  
          name: Pep8

workflows:
  main:
    jobs:
      - build-and-test
